.Article-card {
  background-color: lightgray;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  list-style: none;
  font-size: calc(0.1px + 2vmin);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

