.Nav {
  background-color:lightslategray;
  padding: 1rem;
  /* grid-area: Nav; */
}
.Nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.Nav-list li {
  background-color: rgb(108, 107, 107);
  font-size: calc(8px + 2vmin);
  color: lightcyan;
  padding: 1rem;
  border-radius: 5px;}